<div class='dealership_page dealership_listing clearfix'>

  <div class='dealership_header_block clearfix'>
    <h1 class='dealership_title clearfix'><?=$cms_content->title?></h1>
  </div>
  <div class='dealership_wrapper clearfix'>
    <?if($cms_content->content):?>
    <div class='dealership_content clearfix'>
      <?=$cms_content->format_content()?>
    </div>
    <?endif?>
    <?if($dealerships):?>
    <div class='clearfix dealership_list'>
      <?foreach($dealerships as $dealer):?><?=partial("__dealership_summary", array('cms_content'=>$dealer))?><?endforeach?>
    </div>
      <?if($paginate_dealership_list && $dealerships->total_pages > 1):?>
    <div class='pagination_block dealership_pagination clearfix'>
      <?=paginate_links($dealerships, 2)?>
      <h5>Page <?=$this_page?> of <?=$dealerships->total_pages?></h5>
    </div>
      <?endif?>
    <?endif?>
  </div>
  
</div>