<div class='dealership_page clearfix'>

  <div class='dealership_header_block clearfix'>
    <h1 class='dealership_title clearfix'><?=$cms_content->title?></h1>
  </div>

  <div class='location_details clearfix'>
    <h3><a href="#dealership_location_info_<?=$cms_content->primval?>">How to find us</a></h3>
    <div id="dealership_location_info_<?=$cms_content->primval?>">
      <?if(Config::get("uvl/dynamic_dealer_map")):?>
      <div class='dealership_map' data-lat="<?=$cms_content->lat?>" data-lng="<?=$cms_content->lng?>"></div>
      <?else:?>
      <a href='http://maps.google.com/?q=<?=urlencode($cms_content->postcode)?>'><img src="http://maps.google.com/maps/api/staticmap?sensor=false&amp;maptype=roadmap&amp;size=<?=$static_map_size?>&amp;center=<?=$cms_content->lat.",".$cms_content->lng?>&amp;markers=color:red|<?=$cms_content->lat.",".$cms_content->lng;?>" alt="location of map" class='dealership_static_map'></a>
      <?endif?>
      <a href="http://maps.google.com/?q=<?=urlencode($cms_content->postcode)?>" class='button dealership_map_link' target="_new">View bigger map</a>
      <a href="http://maps.google.com/?daddr=<?=urlencode($cms_content->postcode)?>" class='button dealership_directions_link' target="_new">Get directions</a>      
      
      
      <?
      $address_columns = array();
      $contact_columns = array();
      //find all cols in the address group to output them
      foreach($cms_content->columns as $name=>$info){
        if($info['subgroup'] == 'address' && ($v = $cms_content->$name)) $address_columns[$name] = $v;
        elseif($info['subgroup'] == 'contact' && ($v = $cms_content->$name)) $contact_columns[$name] = $v;
      }
      ?>
      <?if(count($address_columns)):?>
      <div class='dealership_address'>
        <?foreach($address_columns as $col=>$val):?><span class='<?=$col?>'><?=$val?></span><?endforeach?>
      </div>
      <?endif?>
      
      <?if(count($contact_columns)):?>
      <div class='dealership_contact'>
        <?foreach($contact_columns as $col=>$val):?><span class='<?=$col?>'><span><?=$col[0]?>:</span><?=$val?></span><?endforeach?>
      </div>
      <?endif?>
      
      <?if($cms_content->opening_hours):?>
      <h4>Opening Times</h4>
      <?=$cms_content->opening_hours?>
      <?endif?>
      
    </div>

  </div>

</div>