<?
if(!$gallery_image_type) $gallery_image_type = "gallery image";
if(!$gallery_image_type_size) $gallery_image_type_size = 91; //380 -15 (3*5 margin) / 4
if(!$primary_image_size) $primary_image_size = 380;
if(!$large_image_size) $primary_image_size = 600;
if(!$static_map_size) $static_map_size = 300;
?>

<div class='dealership_page clearfix'>

  <div class='dealership_header_block clearfix'>
    <h1 class='dealership_title clearfix'><?=$cms_content->title?></h1>
  </div>
  <div class='clearfix dealership_wrapper'>
    <div class='location_details clearfix'>
      <h3><a href="#dealership_location_info_<?=$cms_content->primval?>">How to find us</a></h3>
      <div id="dealership_location_info_<?=$cms_content->primval?>">
        <?if(Config::get("uvl/dynamic_dealer_map")):?>
        <div class='dealership_map' data-lat="<?=$cms_content->lat?>" data-lng="<?=$cms_content->lng?>"></div>
        <?else:?>
        <a href='http://maps.google.com/?q=<?=urlencode($cms_content->postcode)?>'><img src="http://maps.googleapis.com/maps/api/staticmap?sensor=false&amp;maptype=roadmap&amp;size=<?=$static_map_size?>x<?=($static_map_size-50)?>&amp;center=<?=$cms_content->lat.",".$cms_content->lng?>&amp;markers=color:red|<?=$cms_content->lat.",".$cms_content->lng;?>" alt="location of map" class='dealership_static_map'></a>
        <?endif?>
        <a href="http://maps.google.com/?q=<?=urlencode($cms_content->postcode)?>" class='button dealership_map_link' target="_new">View bigger map</a>
        <a href="http://maps.google.com/?daddr=<?=urlencode($cms_content->postcode)?>" class='button dealership_directions_link' target="_new">Get directions</a>


        <?=partial("__dealership_location_and_contact", array('cms_content'=>$cms_content))?>

      </div>

    </div>

    <div class='dealership_details clearfix' id="dl<?=$cms_content->primval?>">
      <div class='dealership_key_features dkf-<?=count($vehicle_fields)?>'>
        <a href="#dl<?=$cms_content->primval?>" class='dealership_key_feature key_feature button telephone_number'>CALL US: <?=$cms_content->telephone?></a>
        <a href="mailto:<?=$cms_content->email?>" class='dealership_key_feature key_feature button email'>EMAIL US</a>
        <?if($show_stock_list !== false):?><a href="#dealership_stock_list<?=$cms_content->primval?>" class='dealership_key_feature key_feature button stock'>STOCK LIST</a><?endif?>
      </div>

      <div class='dealership_and_content clearfix'>
        <div class='dealership_gallery'>
          <?=partial("__uvl_images", array('cms_content'=>$cms_content, 'gallery_image_type'=>$gallery_image_type, 'gallery_image_type_size'=>$gallery_image_type_size, 'primary_image_size'=>$primary_image_size, 'large_image_size'=>$large_image_size))?>
        </div>

        <div class='dealership_content clearfix'>
          <?=$cms_content->format_content()?>
        </div>
      </div>
    </div>

  </div>
  <?if($show_stock_list !== false):?>
  <div class='dealership_stock_list clearfix' id="dealership_stock_list<?=$cms_content->primval?>">
    <?=partial("__vehicle_listing")?>
  </div>
  <?endif?>
</div>