<h3 class='dealership_title'><a href="<?=$cms_content->permalink?>"><?=$cms_content->title?></a></h3>
<div class='dealership_summary clearfix'>
  <div class='opening_hours_and_contact_details' id="ohacd<?=$cms_content->primval?>">
    <?=partial("__dealership_location_and_contact", array('cms_content'=>$cms_content))?>
    
    <a href="<?=$cms_content->permalink?>" class='button details'>Details</a>
    <a href="<?=$cms_content->permalink?>#stocklist" class='button stocklist'>View Stock List</a>
  </div>

</div>
