<?
$posted = $vehicle_filters;
if(($col = $data['col']) && ($vals = $posted[$col])){
  $min = $vals['min'];
  $max = $vals['max'];
}else{
  $min = $data['range']['min'];
  $max = $data['range']['max'];  
}
?>
<?if($data['range']['min'] != $data['range']['max']):?>
<fieldset class='range_slider col_<?=$col?> clearfix'>
  <h3><?=$data['title']?></h3>
  
  <label for="vehicle_<?=$col?>_min">Min</label>
  <input type="text" value="<?=$min?>" data-inc="<?=$data['inc']?>" data-min="<?=$data['range']['min']?>" name='vehicle[<?=$col?>][min]' class='range_slider_input range_slider_min' id="vehicle_<?=$col?>_min">
  
  <label for="vehicle_<?=$col?>_max">Max</label>
  <input type="text" value="<?=$max?>" data-inc="<?=$data['inc']?>" data-max="<?=$data['range']['max']?>" name='vehicle[<?=$col?>][max]' class='range_slider_input range_slider_max' id="vehicle_<?=$col?>_max">
  <div class='slider'></div>
</fieldset>
<?endif?>