<?if(($attached = $cms_content->media(array("tag"=>$gallery_image_type))) && $attached->count()):?>
  <?$i=0;?>
  <?foreach($attached as $x=>$a):?>
    <?
    if($i == 0) $sz = $primary_image_size;
    else $sz = $gallery_image_type_size;
    ?>
    <?if($a->primval):?>
      <?$i++;?>

    <a
      href="<?=$a->permalink($large_image_size)?>"
      data-s="<?=$a->permalink($gallery_image_type_size)?>"
      data-m="<?=$a->permalink($primary_image_size)?>"
      data-l="<?=$a->permalink($large_image_size)?>"
      class='vehicle_gallery_image_link vgil-<?=$x?>'
      alt="<?=$a->title?>"
      rel="image_<?=$cms_content->primval?>"
    ><?=$a->render($sz)?></a>
    <?endif?>
  <?endforeach?>
<?else:?>
  <?=partial("__uvl_empty_image")?>
<?endif?>