<?
$posted = $vehicle_filters;
if(($col = $data['col']) && $posted[$col]) $val = $posted[$col];
else $vals = array();
?>
<?if(count($data['options']) > 1):?>

<fieldset class='range_select range_compound range_compound_<?=$data['pos']?> col_<?=$col?>'>
<?if($data['pos'] != "end"):?>
  <h3><?=$data['title']?></h3>
<?endif?>
<?if($data['pos']) $data['title'] = $col;?>
  
  <label for="vehicle_<?=$col?>"><?=$data['title']?></label>
  <select name="vehicle[<?=$col?>]" id="vehicle_<?=$col?>" data-col="<?=$col?>" class="range_select_dropdown range_compound_dropdown range_compound_dropdown_<?=$data['pos']?>">
    <option value=''>-- All --</option>
    <?foreach($data['options'] as $opt):?><option value='<?=$opt['primval']?>'<?if($val == urldecode($opt['primval'])):?> selected="selected"<?endif?>><?=$opt['title']?></option><?endforeach?>
  </select>
  
</fieldset>
<?endif?>