<?if($paginate_vehicles_list && $vehicles->total_pages > 1):?>
<div class='pagination_top_block vehicles_pagination clearfix'>
  <?=paginate_links($vehicles, 2)?>
  <h5>Page <?=$this_page?> of <?=$vehicles->total_pages?></h5>
</div>
<?endif?>
<?if($sort_options && $sort_options->count()):?>
<div class='vehicles_sort_options clearfix'>
  <select name="sort" id="vehicle_sort"><?foreach($sort_options as $sort):?><option value="<?=$sort->primval?>"<?if($posted_sort == $sort->primval):?> selected="selected"<?endif?>><?=$sort->title?></option><?endforeach?></select>
</div>
<?endif?>
