<?
if(!$default_fields) $default_fields = array('engine_size'=>"Engine Size", 'transmission' =>'Transmission', 'fuel_type'=>'Fuel Type');
if(!$default_summary_fields) $default_summary_fields = array('make'=>'Make', 'model'=>'Model', 'registration'=>"Registration", 'date_of_first_registration'=>'Year', 'mileage'=>'Mileage', 'co2'=>'CO<sub>2</sub>', 'colour' =>'Colour', 'features'=>'Features');

if(!$gallery_image_type) $gallery_image_type = "gallery image";
if(!$gallery_image_type_size) $gallery_image_type_size = 70; //220 -10 (2*5 margin) / 3
if(!$primary_image_size) $primary_image_size = 220;
if(!$large_image_size) $large_image_size = 600;

if(!$key_limited) $key_limited = 3;
?>
<div class='vehicle_summary clearfix'>
  <div class='vehicle_header_block clearfix'>

    <h3 class='vehicle_title clearfix'><a href="<?=$cms_content->permalink?>">
    <?if($cms_content->previous_price > 1):?>
    <span class='has_sale_price vehicle_price'>
      <span class='vehicle_sale_price'>NOW &pound;<?=number_format($cms_content->price,2)?></span>
      <span class='vehicle_previous_price previous_price'>WAS &pound;<?=number_format($cms_content->previous_price,2)?></span>
    </span>
    <?else:?>
    <span class='price vehicle_price'>&pound;<?=number_format($cms_content->price,2)?></span>
    <?endif?>
    <span class='title vehicle_title_content'><?=$cms_content->title?></span>
    </a>
    </h3>

  </div>

  <div class='vehicle_wrapper clearfix'>

    <div class='vehicle_details'>

      <div class='vehicle_and_content clearfix'>
        <div class='vehicle_gallery'>
          <?=partial("__uvl_images", array('cms_content'=>$cms_content, 'gallery_image_type'=>$gallery_image_type, 'gallery_image_type_size'=>$gallery_image_type_size, 'primary_image_size'=>$primary_image_size, 'large_image_size'=>$large_image_size))?>
        </div>
        <div class='vehicle_summary_inner clearfix'>
          <div class='vehicle_key_features vkf'>
            <?=partial(trim($controller,"/")."/__uvl_key_features", array('cms_content'=>$cms_content, 'default_fields'=>$default_fields, 'limited'=>$key_limited))?>
          </div>
          <?=partial(trim($controller,"/")."/__uvl_summary_features", array('cms_content'=>$cms_content, 'default_fields'=>$default_summary_fields, 'limited'=>$summary_limited))?>
        </div>

      </div>

    </div>
    <?=partial(__vehicle_contact_options", array('cms_content'=>$cms_content));?>
  </div>
</div>