<?
if(!$default_fields) $default_fields = array('engine_size'=>"Engine Size", 'transmission' =>'Transmission', 'fuel_type'=>'Fuel Type');
if(!$default_summary_fields) $default_summary_fields = array('registration'=>"Registration", 'colour' =>'Colour', 'features'=>'Features');

if(!$gallery_image_type) $gallery_image_type = "gallery image";
if(!$gallery_image_type_size) $gallery_image_type_size = 91; //380 -15 (3*5 margin) / 4
if(!$primary_image_size) $primary_image_size = 380;
if(!$large_image_size) $primary_image_size = 600;


$vehicle_fields = array();
foreach($cms_content->featured_fields as $f){
  if($f->featured) $vehicle_fields[$f->column_name] = $f->title;
  else $summary_fields[$f->column_name] = $f->title;
}


?>
<div class='vehicle_page clearfix'>

  <div class='vehicle_header_block clearfix'>

    <h1 class='vehicle_title clearfix'>
    <?if($cms_content->sale_price > 1):?>
    <span class='price sale_price vehicle_price vehicle_sale_price'>
      NOW &pound;<?=number_format($cms_content->sale_price,2)?>
      <span class='vehicle_previous_price previous_price'>WAS &pound;<?=number_format($cms_content->price,2)?></span>
    </span>
    <?else:?>
    <span class='price vehicle_price'>&pound;<?=number_format($cms_content->sale_price,2)?></span>
    <?endif?>
    <span class='title vehicle_title'><?=$cms_content->title?></span>
    </h1>

  </div>


  <?if(($branches = $cms_content->branches) && ($branches = $branches->scope("live")->all()) && $branches->count()):?>
  <div class='dealership_list'>

    <?foreach($branches as $branch):?>
    <div class='dealership_summary clearfix'>
    <?=partial("__dealership_summary", array('cms_content'=>$branch))?>
    <?
    if(!count($vehicle_fields)) foreach($branch->vehicle_featured_fields as $f) $vehicle_fields[$f->column_name] = $f->title;
    ?>
    </div>
    <?endforeach?>

  </div>
  <?endif?>

  <div class='vehicle_details'>
    <?if(!$vehicle_fields) $vehicle_fields = $default_fields;?>
    <?if(!$summary_fields) $summary_fields = $default_summary_fields;?>
    <div class='vehicle_key_features vkf-<?=count($vehicle_fields)?>'>
      <?foreach($vehicle_fields as $field=>$name):?>
        <?$val = $cms_content->humanize($field);?>
        <?if($val):?>
        <span class='vehicle_key_feature'><?=$name?><span class='vehicle_key_feature_value'><?=$val?></span></span>
        <?endif?>
      <?endforeach?>
    </div>

    <div class='vehicle_and_content clearfix'>
      <div class='vehicle_content_and_details'>
        <?=$cms_content->format_content()?>
        
        <?if($summary_fields && count($summary_fields)):?>
        <table class='vehicle_summary_fields clearfix'>
          <?foreach($summary_fields as $field=>$name):?>
            <?if($val = $cms_content->humanize($field)):?>
            <tr class='vehicle_feature'><th><?=$name?></th><td><?=$val?></td></tr>
            <?endif?>
          <?endforeach?>
        </table>
        <?endif?>
        
      </div>
      
      <div class='vehicle_gallery'>        
        <?if(($attached = $cms_content->file_meta_get(false, $gallery_image_type)) && $attached->count()):?>
          <?foreach($attached as $i=>$a):?>
            <?
            if($i == 0) $sz = $primary_image_size;
            else $sz = $gallery_image_type_size;
            ?>
            <?$image = new WildfireFile($a->wildfire_file_id);?>
            <a href="<?=$image->permalink($large_image_size,1)?>" data-s="<?=$image->permalink($gallery_image_type_size,1)?>"  data-m="<?=$image->permalink($primary_image_size,1)?>" data-l="<?=$image->permalink($large_image_size,1)?>" class='vehicle_gallery_image_link vgil-<?=$i?>' title="<?=$a->title?>"><img src="<?=$image->permalink($sz, 1)?>" class="vehicle_gallery_image" alt="<?=$a->title?>"></a>
            <?endif?>
          <?endforeach?>
        <?endif?>
      </div>
    </div>

  </div>

</div>