<div class='vehicles_page vehicles_listing clearfix'>

  <div class='vehicles_header_block clearfix'>
    <h1 class='vehicles_title clearfix'><?=$cms_content->title?></h1>
  </div>
  <div class='vehicles_wrapper clearfix'>
    <?if($cms_content->content):?>
    <div class='vehicles_content clearfix'>
      <?=$cms_content->format_content()?>
    </div>
    <?endif?>
    <?if($vehicles):?>
    <form class='clearfix vehicles_search_container' action="" method="get">
      
      <div class='clearfix vehicle_search_options'>
        <?=partial("__vehicle_search_options")?>        
      </div>
      
      <?=partial("__vehicle_search_results", array('vehicles'=>$vehicles, 'paginate_vehicles_list'=>$paginate_vehicles_list, 'this_page'=>$this_page, 'per_page'=>$per_page))?>
      
    </form> 
    <?endif?>
  </div>
  
</div>